@font-face {
    font-family: monsterat;
    src: url(fonts/montserrat/Montserrat-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monsterat;
}
.clr{
    clear: both;
}
.top{
    display: block;
    
}
.top a{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.top a i{
    font-weight: 900;
    background-color: #561d57;
    color: #fff;
    font-size: 50px;
    padding: 0px 7px;
}
.top:hover{
    background-color: #ff7f50;
}
.head-wrapper{
    width: 100%;
    height: 400px;
    background-image: url(images/new-banner1.jpg);
    background-position: center;
    background-size: 100%;
    position: relative;
    /*background-repeat: no-repeat;*/
    padding: 0% 7%;
    
}
.logo{
    float: left;
    width: 15%;
}
.logo img{
    height: 130px;
    width: 130px;
}
.sub-head{
    float: right;
    width: 85%;
    text-align: right;
    font-size: 12px;
}
.sub-head ul a{
    text-decoration: none;
    color: #fff;
}
.sub-head ul a li{
    display: inline;
    padding: 0px 2%;
    line-height: 30px;
}
.sub-head ul a li i{
    margin-right: 1%;
}
.head{
    font-size: 13px;
}
.head ul a li{
    line-height: 60px;
    padding: 0px 2.5%;
}
.head ul a li span{
    font-size: 10px;
}
.head ul a li.book{
    background-color: #561d57;
    padding: 8px 20px;
}
.head ul a li:hover{
    text-decoration: underline;
}
.search-det{
    padding: 0px 7%;
    float: left;
    width: 100%;
    min-height: 100px;
    box-shadow: 1px 1px 8px #999;
    position: sticky;
    background: #fff;
    top: 0;
}
.con{
    float: left;
    width: 16%;
    color: #1d415e;
    padding: 2% 1% 0% 0%;

}
.con h3{
    font-size: 14px;
    font-weight: 500;
}
.con span{
    font-size: 20px;
    font-weight: 900;
}
.con p{
    font-size: 10px;
    color: #999;
}
.opt{
    width: 84%;
    padding: 27px 0px;
    float: left;
}
.box{
    float: left;
    border: 1px solid #e4e2e2;
    width: 22.5%;
    height: 46px;
    line-height: 36px;
    padding: 5px;
    text-align: center;
}
.box span{
    color: #999;
    font-size: 13px;
}
.box select{
    border: 0;
}
.search-box{
    background-color: #561d57;
    width: 10%;
}
.search-box h3{
    font-weight: lighter;
    color: #fff;
}
.banner-box{
    padding: 30px 7% 0px 7%;
}
.banner-box h3{
    text-align: center;
    color: #666;
    font-weight: 100;
    font-size: 22px;
}
.template{
    background-size: 100% 300px;
    height: 300px;
    padding: 60px 5%;
    margin-top: 30px;
    color: #fff;
}
.temp1{
    background-image: url(images/jalesh1.jpg);
}
.temp2{
    background-image: url(images/jalesh2.jpg);
}
.temp3{
    background-image: url(images/jalesh3.jpg);
    margin-bottom: 30px;
    padding: 68px 5%;
}
.temp1-img-left{
    float: left;
    background: #152c571a;
    width: 45%;
}
.temp1-img-left img{
    height: 150px;
}
.temp1-img-left span{
    font-size: 16px;
    line-height: 40px;
}
.temp1-img-right{
    float: right;
    width: 36%;
    padding: 10px 0px;
    background: #81181c12;
}
.temp1-img-right img{
    height: 75px;
    width: 150px;
    margin-left: 15%;
}
.temp1-img-right span.dome-head{
    font-size: 18px;
    margin-left: -15%;
}
.temp1-img-right p{
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
}
.temp2-img-left{
    float: left;
    width: 48%;
    background: #4b3a720f;
}
.temp2-img-left img{
    width: 150px;
    height: 75px;
}
.temp2-img-left span{
    font-size: 18px;
    margin-left: -10%;
}
.temp2-img-left p{
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
}
.temp2-img-right{
    float: right;
    width: 40%;
    background: #1f0c0812;
}
.temp2-img-right img{
    width: 100%;
}
.img-gallary{
    height: 450px;
    box-shadow: 1px 1px 5px #999;
    padding: 5px 0.5%;
    background-color: #fff;
    float: left;
    width: 100%;
}
.image-gallery{
    background-size: 100% 440px;
    height: 440px;
    width: 24.65%;
}
.gall1{
    background-image: url(images/jal-img1.jpg);
    float: left;
}
.gall2{
    background-image: url(images/jal-img2.jpg);
    float: left;
    margin-left: 0.5%;
}
.gall3{
    background-image: url(images/jal-img3.jpg);
    float: left;
    margin-left: 0.5%;
}
.gall4{
    background-image: url(images/jal-img4.jpg);
    float: right;
}
.gall-col{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px 6%;
}
.gall-col p {
    position: absolute;
    bottom: 40px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 88%;
}
.footer{
    width: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: 56px 8px;
    background-image: url(images/footer.png);
    margin-top: -30px;
    height: 400px;
    margin-bottom: 25px;
    padding: 60px 7% 0px;
}
.cont{
    width: 31%;
    color: #999;
    float: left;
}
.cont h3{
    font-weight: 100;
    margin: 0px 0px 10px 0px;
}
.cont p{
    font-size: 14px;
    margin: 8px 0px;
    line-height: 22px;
}
.cont a{
    color: #999;
    text-decoration: none;
    line-height: 28px;
}
.cont a i{
    margin-right: 10px;
}
.cont a span:hover{
    color: #b43b1d;
}
.menu{
    width: 23%;
    float: left;
    padding: 0px 1%;
}
.menu ul li{
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
}
.menu ul li a{
    text-decoration: none;
    color: #999;
}
.menu ul li a:hover{
    color: #b43b1d;
}
.footer p.copy{
    color: #999;
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
}
.follow {
    padding: 0px;
}
.follow a i{
    font-size: 55px;
    color: #999;
    width: 22%;
}
.icon{
    margin-left: 14%;
}
.follow a img{
    width: 98%;
    margin-top: 20px;
}